/* main section */
.presentation {
  font-size: 1.4rem;

  background-image: url("../img/mainimgopt2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  padding-bottom: 150px;
}
.main_content {
  display: flex;
  flex-direction: column;
  padding: 150px;
  color: #ffffff;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 4rem;
  width: 100%;
}
.main_title {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  animation: zoom-in 1.5s ease;
}

.main_subtitle {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  animation: zoom-in 2s ease;
}

/* footer */

footer {
  background-color: $second-color;
}
.footer-section {
  min-height: 200px;
}
.footer-icono {
  margin: 10px;
}
.footer-texto {
  color: white;
  font-size: 1.5rem;
  padding: 15px;
  margin-bottom: 5px;
  font-family: "Quicksand", sans-serif;
}
.social_media_icon a {
  color: white;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 5px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

/* animation */

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

/* mediaquerys */

@media (max-width: 480px) {
  .footer-texto {
    font-size: 1.3rem;
  }
}
